<!DOCTYPE html>
<html>
    <head>
      <title>eLit</title>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
      <nav>
        <div class = "navbar">
        <span><a  class = "nav-home" href="http://127.0.0.1:5000/">eLit</a>
          <a class = "nav-user" href="{{url_for('logout')}}">Logout</a><a class = "nav-user" href="{{url_for('get_token')}}">Get API token</a><span class = "username">Welcome, {{visible_name}}! </span>
        </div>
      </nav>
      <main class="main-content">
        <section>
            
              <p id="instructions">
                Please enter ISBN number,title or author of the book you are searching for. If you don't know
                exact information you can enter part of it.
              </p>
              <form id = "search" action="{{url_for('search')}}" method="post">
                <input id  = "search-text" type="text" name="search_text" class="form-control">
                  <select id = "search-options" name ="search_type">
                    <option value="by_isbn">Search by ISBN</option>
                    <option value="by_title">Search by title</option>
                    <option value="by_author">Search by author</option>
                  </select>
                  <button id = "search-button" type="submit">Search</button>
              </form>

        </section>
      </main>
    </body>
</html>
