<!DOCTYPE html>
<html>
    <head>
        <title>eLit</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <nav>
            <div class = "navbar">
                <span><a  class = "nav-home" href="http://127.0.0.1:5000/">eLit</a> </span>
            </div>
        </nav>
        <main>
            <div class="login-page">
                <p>{{message}}</p>
                <div class="form">
                    <form action ="{{url_for('login')}}" method="post" class="login-form">
                        <label> Login </label>
                            <input class = "login-input"type="email" name="site_login" placeholder="username"/>
                        <label> Password </label>
                            <input class = "login-input" type="password" name="password" placeholder="password"/>
                        <button class = "login-button">Login</button>
                        <p class="message">Not registered? <a href="{{url_for('registration_page')}}">Create an account</a></p>
                    </form>
                </div>
            </div>
            </main>
    </body>
  </html>