<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <nav>
            <div class = "navbar">
                <span><a  class = "nav-home" href="http://127.0.0.1:5000/">eLit</a> </span>
            </div>
        </nav>
        <main>
            <div class="login-page">
                <div class="form">
                    <p>{{error_message}}</p>
                    <form action ="{{url_for('register')}}" method="post" class="register-form">
                        <label> Login (email)</label>
                            <input class = "login-input" type="email" name="site_login" pattern="^[A-Za-z0-9._-]+@[A-Za-z0-9._-]+" title="Login must be an email address" placeholder="email address"/>
                        <label> Visible name</label>
                            <input class = "login-input" type="text" name="visible_name" pattern="^[A-Za-z0-9._-]{3,}" title="Visible name should be at least 3 characters long" placeholder="name"/>
                        <label> Password</label>
                            <input class = "login-input" type="password" name="password" pattern="^[A-Za-z0-9._-~!@#$%^&*()+=]{8,}" title="Password should be at least 8 characters long" placeholder="password"/>
                        <label> Re-type password</label>
                            <input class = "login-input" type="password" name="password_retype" pattern="^[A-Za-z0-9._-~!@#$%^&*()+=]{8,}" title="Password should be at least 8 characters long" placeholder="retype password"/>
                        <button class = "login-button">Create account</button>
                        <p class="message">Already registered? <a href="{{url_for('index')}}">Sign In</a></p>
                    </form>
                    
                </div>
            </div>
        </main>
    </body>
  </html>