<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <nav>
            <div class = "navbar">
                <span><a  class = "nav-home" href="http://127.0.0.1:5000/">eLit</a> </span>
            </div>
        </nav>
        <main>
            <div class="login-page">
                <p>{{message}}</p>
                <div class="form">
                    <p>Congrats,{{visible_name}}!</p>
                    <p>You successfully finished registration.</p>
                    <p>Now you can <a href="{{url_for('index')}}">sign in to eLib</a></p>
                </div>
            </div>
            </main>
    </body>
  </html>